body{
  background-color: azure;
}
.logo{
  text-align: center;
}
.body-content{
  width: 50%;
  float: left;
  
}
.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 30ch;
  min-height: 30ch;
  width: 30vw;
  height: 30vw;
  max-width: 30ch;
  max-height: 30ch;
  margin-left: 40px;
  margin-top:40px;
  background-image: url(design/circle-cropped.png);
}

.card2 {
  width: 10ch;
  height: 10ch;
  margin-top: 80px;
  background-image: url(https://image.flaticon.com/icons/svg/789/789395.svg);
  margin-top: 220px;
  margin-left: 180px;
}

.card3 {
  opacity: 0.9;
  width: 20ch;
  height: 35ch;
  margin-top: 220px;
  margin-left: 400px;
  background-image: url(design/unnamed-removebg-preview.png);
}

.card4 {
  width: 8ch;
  height: 10ch;
  margin-top:220px;
  margin-left:50px;
  background-image: url(design/rabbit.png);
}

.container {
   
  width: auto;
  height: auto;
  padding-left: 500px;
  align-items: center;
  justify-content: center;
}
#instruction{
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-right: 110px;
}
::placeholder {
  color: black;
  font-size: 18px;
  opacity: 0.25;
}
input:focus::placeholder {
  color: transparent;
}

